.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(32, 37, 46);
    z-index: 1;
}
    
.loader {
    width: 200px;
    height: 200px;
    border: 15px solid;
    border-color: rgb(54, 211, 153) transparent rgb(54, 211, 153) transparent;
    border-radius: 25%;
    animation: spin-anim 1.2s linear infinite, beat-anim 1.2s ease-in-out infinite;
    transform-origin: center center;
    box-shadow: 0 0 300px rgba(54, 211, 153, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
    
@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
    
@keyframes beat-anim {
    0%, 100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(54, 211, 153, 0.8);
    }
    50% {
        transform: scale(1.2);
        box-shadow: 0 0 30px rgba(54, 211, 153, 0.8);
    }
}