.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(32,37,46);
    z-index: 1;
}

.spinner {
    width: 200px;
    height: 200px;
    border: 8px solid;
    border-color: rgb(54,211,153) transparent rgb(54,211,153) transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}